<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Post nicht verfügbar</title>
</head>
<body>
    <p>Der Post mit der Id {{ post_id }} konnte nicht gefunden werden</p>
</body>
</html>
