<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Bearbeiten</title>
    <style>
        html {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <h1>Post bearbeiten</h1>
    </header>
    <main>
        <form action="/edit/{{ post.id }}" method="POST">
            <label>
                Title
                <input type="text" name="title" value="{{ post.title }}">
            </label><br>
            <label>
                Inhalt<br>
                <textarea name="content">{{ post.content }}</textarea>
            </label><br>
            <button type="submit">Speichern</button>
        </form>
    </main>
</body>
</html>
