<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <style>
        body {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            background: #fafafa;
        }

        .content {
            width: 600px;
            margin: 0 auto;
        }

        article > p {
            white-space: pre-wrap;
        }

        h1 > a {
            text-decoration: none;
            color: #111;
        }

        nav {
          background: #333;
        }
         
        nav > ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
         
        nav > ul > li {
          display: inline-block;
        }
         
        nav > ul > li.active,
        nav > ul > li:hover {
          background: #555;
        }
         
        nav > ul > li > a {
          display: inline-block;
          padding: 10px;
          color: #fff;
          text-decoration: none;
        }
         
        article {
            margin-top: 40px;
        }
           
        article > h2 {
            margin-bottom: 5px;
        }
         
        article > h2 > a {
            text-decoration: none;
            color: #111;
        }

        footer {
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="content">
        <header>
            <h1><a href="/">Mein Blog</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Start</a></li>
            </ul>
        </nav>
        <main>
        {% for post in posts|reverse %}
            <article>
                <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
                <p>{{ post.content }}</p>
                <a href="/edit/{{ post.id }}">Bearbeiten</a>
            </article>
        {% endfor %}
        </main>
        <footer><a href="/edit/new">Neuen Post anlegen</a></footer>
    </div>
</body>
</html>
